In [1]:
import pandas as pd

In [2]:
ser = pd.Series([1,2,3,4],dtype=float)

In [3]:
ser

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [4]:
ser2 = pd.Series([[1,2],[3,4]],dtype=int)
ser2

0    (1, 2)
1    (3, 4)
dtype: object

In [5]:
serWithIndex=pd.Series([1,2,3],index=['a','b','c'])
serWithIndex

a    1
b    2
c    3
dtype: int64

In [6]:
serDict=pd.Series({'a':1,'b':2,'c':3})
serDict

a    1
b    2
c    3
dtype: int64

In [7]:
df = pd.DataFrame([[5,6],[1,3]],index=['r1','r2'],columns=['c1','c2'])
df

    c1  c2
r1   5   6
r2   1   3

In [12]:
dfDict = pd.DataFrame({'c1':[1,2,3],'c2':[4.1,5.2,6]},index=['r1','r2','r3'])
dfDict

    c1   c2
r1   1  4.1
r2   2  5.2
r3   3  6.0

In [13]:
dfDict.dtypes

c1      int64
c2    float64
dtype: object

In [15]:
df=pd.DataFrame([[1,2],[3,4]])
ser=pd.Series([8,9], name='r3')
df_app=df.append(ser)
df_app

/var/folders/3x/bz536h6929q9kwynkd0t0mzh0000gn/T/ipykernel_2954/1404018116.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_app=df.append(ser)

    0  1
0   1  2
1   3  4
r3  8  9

In [22]:
df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]},
                  index=['r1', 'r2'])
# Drop row r1
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

# Drop columns c1, c3
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2')
print('{}\n'.format(df_drop))

df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

    c2
r1   3
r2   4

    c1  c2  c3
r1   1   3   5

    c1  c3
r1   1   5
r2   2   6

    c1  c3
r1   1   5
r2   2   6

In [24]:
df1=pd.DataFrame({'c1':[1,2],'c2':[3,4]},index=['r1','r2'])
df2=pd.DataFrame({'c1':[5,6],'c2':[7,8]},index=['r1','r2'])
df3=pd.DataFrame({'c1':[9,0],'c2':[-1,-2]})

new=pd.concat([df2,df1],axis=1)
new

    c1  c2  c1  c2
r1   5   7   1   3
r2   6   8   2   4

In [25]:
new2=pd.concat([df1,df2],axis=1)
new2

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

In [26]:
new3 = pd.concat([df1,df2,df3],axis=0)
new3

    c1  c2
r1   1   3
r2   2   4
r1   5   7
r2   6   8
0    9  -1
1    0  -2

In [27]:
merged = pd.merge(df1,df2)
merged

Empty DataFrame
Columns: [c1, c2]
Index: []

In [31]:
df1=pd.DataFrame({'name':['john doe','pal smith','sam black']
                  ,'pos':['1B','C','P'],
                  'year':[2000,2004,2006]})
df2=pd.DataFrame({'name':['john doe','pal smith','sam black']
                     ,'rbi':[100,200,300],
                  'year':[2000,2004,2006]})

df3 = pd.merge(df1,df2)
df3

        name pos  year  rbi
0   john doe  1B  2000  100
1  pal smith   C  2004  200
2  sam black   P  2006  300

In [33]:
df=pd.DataFrame({'c1':[1,2,3,4],'c2':[5,6,7,8],'c3':[9,10,11,12]},index=['r1','r2','r3','r4'])
df

    c1  c2  c3
r1   1   5   9
r2   2   6  10
r3   3   7  11
r4   4   8  12

In [35]:
df.iloc[[0,2]]

    c1  c2  c3
r1   1   5   9
r3   3   7  11

In [37]:
bool_list=[False,True,True,False]
df.iloc[bool_list]

    c1  c2  c3
r2   2   6  10
r3   3   7  11

In [38]:
df.loc['r2']

c1     2
c2     6
c3    10
Name: r2, dtype: int64

In [39]:
df.loc[['r1','r3'],'c2']

r1    5
r3    7
Name: c2, dtype: int64

In [43]:
df = pd.read_csv('iris.csv',index_col='Id')
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [48]:
groups=df.groupby('Species')
for name, group in groups:
    print(name)
    print('============================================================================================')
    print(group)

Iris-setosa
============================================================================================
    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa
Iris-versicolor
============================================================================================
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
51             7.0           3.2            4.7           1.4  Iris-versicolor
52             6.4           3.2            4.5           1.5  Iris-versicolor
53             6.9           3.1            4.9           1.5  Iris-versicolor
54             5.5           2.3            4.0           1.3  Iris-versicolor
55             6.5           2.8            4.6           1.5  Iris-versicolor
56             5.7           2.8            4.5           1.3  Iris-versicolor
57             6.3           3.3            4.7           1.6  Iris-versicolor
58             4.9           2.4            3.3           1.0  Iris-versicolor
59             6.6           2.9            4.6           1.3  Iris-versicolor
60             5.2           2.7            3.9           1.4  Iris-versicolor
61             5.0           2.0            3.5           1.0  Iris-versicolor
62             5.9           3.0            4.2           1.5  Iris-versicolor
63             6.0           2.2            4.0           1.0  Iris-versicolor
64             6.1           2.9            4.7           1.4  Iris-versicolor
65             5.6           2.9            3.6           1.3  Iris-versicolor
66             6.7           3.1            4.4           1.4  Iris-versicolor
67             5.6           3.0            4.5           1.5  Iris-versicolor
68             5.8           2.7            4.1           1.0  Iris-versicolor
69             6.2           2.2            4.5           1.5  Iris-versicolor
70             5.6           2.5            3.9           1.1  Iris-versicolor
71             5.9           3.2            4.8           1.8  Iris-versicolor
72             6.1           2.8            4.0           1.3  Iris-versicolor
73             6.3           2.5            4.9           1.5  Iris-versicolor
74             6.1           2.8            4.7           1.2  Iris-versicolor
75             6.4           2.9            4.3           1.3  Iris-versicolor
76             6.6           3.0            4.4           1.4  Iris-versicolor
77             6.8           2.8            4.8           1.4  Iris-versicolor
78             6.7           3.0            5.0           1.7  Iris-versicolor
79             6.0           2.9            4.5           1.5  Iris-versicolor
80             5.7           2.6            3.5           1.0  Iris-versicolor
81             5.5           2.4            3.8           1.1  Iris-versicolor
82             5.5           2.4            3.7           1.0  Iris-versicolor
83             5.8           2.7            3.9           1.2  Iris-versicolor
84             6.0           2.7            5.1           1.6  Iris-versicolor
85             5.4           3.0            4.5           1.5  Iris-versicolor
86             6.0           3.4            4.5           1.6  Iris-versicolor
87             6.7           3.1            4.7           1.5  Iris-versicolor
88             6.3           2.3            4.4           1.3  Iris-versicolor
89             5.6           3.0            4.1           1.3  Iris-versicolor
90             5.5           2.5            4.0           1.3  Iris-versicolor
91             5.5           2.6            4.4           1.2  Iris-versicolor
92             6.1           3.0            4.6           1.4  Iris-versicolor
93             5.8           2.6            4.0           1.2  Iris-versicolor
94             5.0           2.3            3.3           1.0  Iris-versicolor
95             5.6           2.7            4.2           1.3  Iris-versicolor
96             5.7           3.0            4.2           1.2  Iris-versicolor
97             5.7           2.9            4.2           1.3  Iris-versicolor
98             6.2           2.9            4.3           1.3  Iris-versicolor
99             5.1           2.5            3.0           1.1  Iris-versicolor
100            5.7           2.8            4.1           1.3  Iris-versicolor
Iris-virginica
============================================================================================
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
101            6.3           3.3            6.0           2.5  Iris-virginica
102            5.8           2.7            5.1           1.9  Iris-virginica
103            7.1           3.0            5.9           2.1  Iris-virginica
104            6.3           2.9            5.6           1.8  Iris-virginica
105            6.5           3.0            5.8           2.2  Iris-virginica
106            7.6           3.0            6.6           2.1  Iris-virginica
107            4.9           2.5            4.5           1.7  Iris-virginica
108            7.3           2.9            6.3           1.8  Iris-virginica
109            6.7           2.5            5.8           1.8  Iris-virginica
110            7.2           3.6            6.1           2.5  Iris-virginica
111            6.5           3.2            5.1           2.0  Iris-virginica
112            6.4           2.7            5.3           1.9  Iris-virginica
113            6.8           3.0            5.5           2.1  Iris-virginica
114            5.7           2.5            5.0           2.0  Iris-virginica
115            5.8           2.8            5.1           2.4  Iris-virginica
116            6.4           3.2            5.3           2.3  Iris-virginica
117            6.5           3.0            5.5           1.8  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
120            6.0           2.2            5.0           1.5  Iris-virginica
121            6.9           3.2            5.7           2.3  Iris-virginica
122            5.6           2.8            4.9           2.0  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
124            6.3           2.7            4.9           1.8  Iris-virginica
125            6.7           3.3            5.7           2.1  Iris-virginica
126            7.2           3.2            6.0           1.8  Iris-virginica
127            6.2           2.8            4.8           1.8  Iris-virginica
128            6.1           3.0            4.9           1.8  Iris-virginica
129            6.4           2.8            5.6           2.1  Iris-virginica
130            7.2           3.0            5.8           1.6  Iris-virginica
131            7.4           2.8            6.1           1.9  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica
133            6.4           2.8            5.6           2.2  Iris-virginica
134            6.3           2.8            5.1           1.5  Iris-virginica
135            6.1           2.6            5.6           1.4  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
137            6.3           3.4            5.6           2.4  Iris-virginica
138            6.4           3.1            5.5           1.8  Iris-virginica
139            6.0           3.0            4.8           1.8  Iris-virginica
140            6.9           3.1            5.4           2.1  Iris-virginica
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
143            5.8           2.7            5.1           1.9  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

In [49]:
groups.sum()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              250.3         170.9           73.2          12.2
Iris-versicolor          296.8         138.5          213.0          66.3
Iris-virginica           329.4         148.7          277.6         101.3

In [50]:
groups.mean()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa              5.006         3.418          1.464         0.244
Iris-versicolor          5.936         2.770          4.260         1.326
Iris-virginica           6.588         2.974          5.552         2.026

In [51]:
groups.get_group('Iris-setosa')

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa

In [52]:
versicolor=groups.filter(lambda x:x.name=='Iris-versicolor')
versicolor

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
51             7.0           3.2            4.7           1.4  Iris-versicolor
52             6.4           3.2            4.5           1.5  Iris-versicolor
53             6.9           3.1            4.9           1.5  Iris-versicolor
54             5.5           2.3            4.0           1.3  Iris-versicolor
55             6.5           2.8            4.6           1.5  Iris-versicolor
56             5.7           2.8            4.5           1.3  Iris-versicolor
57             6.3           3.3            4.7           1.6  Iris-versicolor
58             4.9           2.4            3.3           1.0  Iris-versicolor
59             6.6           2.9            4.6           1.3  Iris-versicolor
60             5.2           2.7            3.9           1.4  Iris-versicolor
61             5.0           2.0            3.5           1.0  Iris-versicolor
62             5.9           3.0            4.2           1.5  Iris-versicolor
63             6.0           2.2            4.0           1.0  Iris-versicolor
64             6.1           2.9            4.7           1.4  Iris-versicolor
65             5.6           2.9            3.6           1.3  Iris-versicolor
66             6.7           3.1            4.4           1.4  Iris-versicolor
67             5.6           3.0            4.5           1.5  Iris-versicolor
68             5.8           2.7            4.1           1.0  Iris-versicolor
69             6.2           2.2            4.5           1.5  Iris-versicolor
70             5.6           2.5            3.9           1.1  Iris-versicolor
71             5.9           3.2            4.8           1.8  Iris-versicolor
72             6.1           2.8            4.0           1.3  Iris-versicolor
73             6.3           2.5            4.9           1.5  Iris-versicolor
74             6.1           2.8            4.7           1.2  Iris-versicolor
75             6.4           2.9            4.3           1.3  Iris-versicolor
76             6.6           3.0            4.4           1.4  Iris-versicolor
77             6.8           2.8            4.8           1.4  Iris-versicolor
78             6.7           3.0            5.0           1.7  Iris-versicolor
79             6.0           2.9            4.5           1.5  Iris-versicolor
80             5.7           2.6            3.5           1.0  Iris-versicolor
81             5.5           2.4            3.8           1.1  Iris-versicolor
82             5.5           2.4            3.7           1.0  Iris-versicolor
83             5.8           2.7            3.9           1.2  Iris-versicolor
84             6.0           2.7            5.1           1.6  Iris-versicolor
85             5.4           3.0            4.5           1.5  Iris-versicolor
86             6.0           3.4            4.5           1.6  Iris-versicolor
87             6.7           3.1            4.7           1.5  Iris-versicolor
88             6.3           2.3            4.4           1.3  Iris-versicolor
89             5.6           3.0            4.1           1.3  Iris-versicolor
90             5.5           2.5            4.0           1.3  Iris-versicolor
91             5.5           2.6            4.4           1.2  Iris-versicolor
92             6.1           3.0            4.6           1.4  Iris-versicolor
93             5.8           2.6            4.0           1.2  Iris-versicolor
94             5.0           2.3            3.3           1.0  Iris-versicolor
95             5.6           2.7            4.2           1.3  Iris-versicolor
96             5.7           3.0            4.2           1.2  Iris-versicolor
97             5.7           2.9            4.2           1.3  Iris-versicolor
98             6.2           2.9            4.3           1.3  Iris-versicolor
99             5.1           2.5            3.0           1.1  Iris-versicolor
100            5.7           2.8            4.1           1.3  Iris-versicolor

In [53]:
sort1 = df.sort_values('SepalLengthCm')
sort1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
14             4.3           3.0            1.1           0.1     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
42             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
123            7.7           2.8            6.7           2.0  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica

[150 rows x 5 columns]

In [54]:
sort1 = df.sort_values('SepalLengthCm',ascending=False)
sort1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
132            7.9           3.8            6.4           2.0  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
..             ...           ...            ...           ...             ...
42             4.5           2.3            1.3           0.3     Iris-setosa
43             4.4           3.2            1.3           0.2     Iris-setosa
39             4.4           3.0            1.3           0.2     Iris-setosa
9              4.4           2.9            1.4           0.2     Iris-setosa
14             4.3           3.0            1.1           0.1     Iris-setosa

[150 rows x 5 columns]

In [56]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [57]:
df.describe(percentiles=[.5])

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
50%         5.800000      3.000000       4.350000      1.300000
max         7.900000      4.400000       6.900000      2.500000

In [58]:
df.describe(percentiles=[.1])

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
10%         4.800000      2.500000       1.400000      0.200000
50%         5.800000      3.000000       4.350000      1.300000
max         7.900000      4.400000       6.900000      2.500000

In [59]:
df.describe(percentiles=[.2,.8])

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
20%         5.000000      2.700000       1.500000      0.200000
50%         5.800000      3.000000       4.350000      1.300000
80%         6.520000      3.400000       5.320000      1.900000
max         7.900000      4.400000       6.900000      2.500000

In [61]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [62]:
df['Species'].value_counts(normalize=True)

Iris-setosa        0.333333
Iris-versicolor    0.333333
Iris-virginica     0.333333
Name: Species, dtype: float64

In [63]:
df['Species'].value_counts(ascending=True)

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
#maths for ML